
<h4>Please login</h4>

<%= form_tag sessions_path do %>
  <%= label_tag :email %>
  <%= text_field_tag :email %>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <br>
  <%= submit_tag "Login" %>
<% end %>

<div class="error-container">
  <p id="notice" ><%= flash[:notice] %></p>
  <p id="alert" ><%= flash[:alert] %></p>
</div>

<br>
<%= link_to "Login with LinkedIn", '/auth/linkedin', id: 'sign_in' %>

<br>
<%= link_to "Don't have an account yet?", signup_path %>


