
<div class="view-board-button">
  <%= link_to 'Back To Job Board', prospect_cards_path %>
</div>
<!--<%= link_to 'Delete your account', destroy_user_path(current_user), :method=>'delete', :confirm=>'You sure?'%> -->

<div class="user-profile">
<% if current_user.oauth_token %>
  <div class="linkedin-profile">
    <img src="<%= current_user.linkedin_profile_img %>">
    <h2><%= current_user.name %></h2>
    <%= current_user.linkedin_email %>
  </div>
<% else %>
  <div class="normal-user">
    <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
    <%= current_user.email %>
  </div>
<% end %>
</div>

<div class="likes-received-container">
  <div class="boss-list">
  <h2>Potential Bosses</h2>
  <ul>
  <% @prospect_card_likes.each do |liked_card| %>
    <li><%= liked_card.liker_first_name %> <%= liked_card.liker_last_name %> (<%= liked_card.liker_email %>) liked your card looking for: <%= liked_card.card_details %></li>
  <% end %>
  </ul>
  </div>
  <div class="employee-list">
  <h2>Potential Employees</h2>
  <ul>
  <% @recruiter_card_likes.each do |liked_card| %>
    <li><%= liked_card.liker_first_name %> <%= liked_card.liker_last_name %> (<%= liked_card.liker_email %>) liked your card looking for: <%= liked_card.card_details %></li>
  <% end %>
  </ul>
  </div>
</div>

<h2>Your cards:</h2>

<% current_user.prospect_cards.each do |card| %>
<div class="prospect-card">
  <p><%= card.name %></p>
  <p>Is a: <%= card.title %></p>
  <p>Looking for: <%= card.looking_for %></p>
  <p>Description: <%= card.description %></p>
  <p><%= link_to 'Destroy', prospect_card_path(card.id), method: :delete %></p>
  <p><%= link_to 'Edit', edit_prospect_card_path(card.id), method: :get %></p>
</div>
<% end %>

<% current_user.recruiter_cards.each do |card| %>
<div class="recruiter-card">
  <p><%= card.name %></p>
  <p>Is a: <%= card.title %></p>
  <p>Looking for: <%= card.looking_for %></p>
  <p>Description: <%= card.description %></p>
  <p><%= link_to 'Destroy', recruiter_card_path(card.id), method: :delete %></p>
  <p><%= link_to 'Edit', edit_recruiter_card_path(card.id), method: :get %></p>
</div>
<% end %>
