<div id="user_nav">

  <% if current_user %>
    <% if current_user.uid %>
      <img src="<%= current_user.linkedin_profile_img %>">
      <p>Signed in as <%= current_user.name %>: <%= current_user.linkedin_email %></p>
    <% else %>
      <p>Signed in as <%= current_user.first_name %> <%= current_user.last_name %>: <%= current_user.email %></p>
    <% end %>

    <%= link_to 'Sign out', logout_path, id: 'logout', method: :delete %></br>
    <%= link_to 'Create a Card', new_prospect_card_path, method: :get %></br>
    <%= link_to 'View Job Board', prospect_cards_path, method: :get %>

  <% else %>
    <%= link_to 'Login', login_path %>
    <%= link_to 'Sign up', signup_path %>
  <% end %>
</div>
