<h1>This is the index for prospect_cards</h1>
<h2>AKA the Board</h2>

<% @prospect_cards.each do |card| %>
<div class="job-card">
  <p><%= card.name %></p>
  <p>Is a: <%= card.title %></p>
  <p>Looking for: <%= card.looking_for %></p>
  <p>Description: <%= card.description %></p>
  <p><%= link_to 'Destroy', prospect_card_path, method: :delete%></p>
</div>
<% end %>

