<div class="main-board-container">
<h1>General Assembly Search Engine</h1>
<p>
  <%= link_to "Create a New Prospect Card", new_prospect_card_path, class: "btn btn-primary"  %> |
  <%= link_to 'Create a New Recruiter Card', new_recruiter_card_path, class: "btn btn-primary" %>
</p>

<% @prospect_cards.each do |card| %>
<div class="card-pos" style="display: inline-block; position: absolute; left:<%= card.left_pos %>px; top: <%= card.top_pos %>px;">
<div class="prospect-card" data-id='<%= card.id %>' data-user-id='<%= card.user_id %>'>
    <div class="card-header">
      <img src="<%= card.user_img %>">
      <strong><%= card.name %></strong>
    </div>IS A
    <div class="card-text card-title" data-field='title'>
      <%= card.title %>
    </div>
      <p>LOOKING FOR A...</p>
    <div class="card-text card-looking_for" data-field='looking_for'>
      <%= card.looking_for %>
    </div>
      <p>SO I CAN HELP...</p>
    <div class="card-text card-description" data-field='description'>
      <%= card.description %>
    </div></br>
  <div class="card-buttons">
    <% if card.user_id == current_user.id %>
      <%= link_to 'Delete', "/prospect_cards/#{card.id}", class: "delete-pcard btn btn-danger", method: :delete %>
    <% else %>
      <%= link_to 'Like', "/prospect_cards/#{card.id}/like", class: "like-pcard", method: :post %>
    <% end %>
  </div>
</div>
</div>
<% end %>

<% @recruiter_cards.each do |card| %>
<div class="card-pos" style="display: inline-block; position: absolute; left:<%= card.left_pos %>px; top: <%= card.top_pos %>px;">
<div class="recruiter-card" data-id='<%= card.id %>' data-user-id='<%= card.user_id %>'>
    <div class="card-header">
      <img src="<%= card.user_img %>">
      <strong><%= card.name %></strong>
    </div>IS A
    <div class="rcard-text card-title" data-field='title'>
      <%= card.title %>
    </div>
      <p>LOOKING FOR A...</p>
    <div class="rcard-text card-looking_for" data-field='looking_for'>
      <%= card.looking_for %>
    </div>
      <p>TO HELP WITH...</p>
    <div class="rcard-text card-description" data-field='description'>
      <%= card.description %>
    </div></br>
  <div class="card-buttons">
    <% if card.user_id == current_user.id %>
      <%= link_to 'Delete', "/recruiter_cards/#{card.id}", class: "delete-rcard btn btn-danger", method: :delete %>
    <% else %>
      <%= link_to 'Like', "/recruiter_cards/#{card.id}/like", class: "like-rcard", method: :post %>
    <% end %>
  </div>
</div>
</div>
<% end %>
</div>
