<div class="main-board-container">
<h1>General Assembly Search Engine</h1>
<p>
  <%= link_to "Create a New Prospect Card", new_prospect_card_path %> |
  <%= link_to 'Create a New Recruiter Card', new_recruiter_card_path %>
</p>

<% @prospect_cards.each do |card| %>
<div class="prospect-card" data-id=<%= card.id %>>
  <!-- Link to like the card -->
  <%= link_to 'Like', "/prospect_cards/#{card.id}/like", class: "like-pcard", method: :post %>
  <!-- Link to like the card -->
  <p><%= card.name %></p>
  <p>Is a: <%= card.title %></p>
  <p>Looking for: <%= card.looking_for %></p>
  <p>Description: <%= card.description %></p>
  <% if card.user_id == current_user.id %>
  <p><%= link_to 'Destroy', "/prospect_cards/#{card.id}", class: "delete-pcard", method: :delete %></p>
  <p><%= link_to 'Edit', edit_prospect_card_path(card.id), method: :get %></p>
  <% end %>
</div>
<% end %>

<% @recruiter_cards.each do |card| %>
<div class="recruiter-card" data-id=<%= card.id %>>
  <!-- Link to like the card -->
  <%= link_to 'Like', recruiter_card_like_path(card.id), method: :post %>
  <!-- Link to like the card -->
  <p><%= card.name %></p>
  <p>Is a: <%= card.title %></p>
  <p>Looking for: <%= card.looking_for %></p>
  <p>Description: <%= card.description %></p>
  <% if card.user_id == current_user.id %>
  <p><%= link_to 'Destroy', "/recruiter_cards/#{card.id}", class: "delete-rcard", method: :delete %></p>
  <p><%= link_to 'Edit', edit_recruiter_card_path(card.id), method: :get %></p>
  <% end %>
</div>
<% end %>
</div>
