<!DOCTYPE html>
<html>
<head>
  <title>JobBoardApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="user_nav">
    <% if current_user %>
    <img src="<%= current_user.linkedin_profile_img %>">
      Signed in as <%= current_user.name %>: <%= current_user.linkedin_email %>
      <%= link_to 'Sign out', logout_path, id: 'logout' %>
    <% else %>
      <%= link_to "Sign in with LinkedIn", '/auth/linkedin', id: 'sign_in' %>
    <% end %>
  </div>

<%= yield %>

</body>
</html>
