<!DOCTYPE html>
<html>
<head>
  <title>JobBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body>

  <% if current_user %>
    <div class="profile-nav">
      <% if current_user.uid %>
        <div class="linkedin-profile">
          <img src="<%= current_user.linkedin_profile_img %>">
          <div>Signed in as <strong><%= current_user.name %></strong></br>
          (<%= current_user.linkedin_email %>)</div>
        </div>
      <% else %>
        <div class="normal-profile">
          <img src="assets/profile_image.jpg">
          <div>Signed in as <strong><%= current_user.first_name %> <%= current_user.last_name %></strong></br>
          (<%= current_user.email %>)</div>
        </div>
      <% end %></br></br>
      <%= link_to 'Sign out', logout_path, id: 'logout', method: :delete %> |
      <%= link_to 'Edit Profile', edit_user_path(current_user.id) %> |
      <%= link_to 'See opportunities', user_path(current_user.id) %>
    </div>
  <% end %>

<%= yield %>



</body>
</html>
